openapi: 3.0.0

info:
  title: Пример API для работы с пользователями
  description: API для создания, получения, обновления и удаления пользователей.
  version: 1.0.0

security:
  - api_key: []

servers:
  - url: https://api.documentat.io/api/prod
    description: Основной сервер
  - url: https://api.documentat.io/api/dev
    description: Тестовый сервер

paths:
  /users:
    get:
      summary: Получить список всех пользователей
      operationId: usersGET
      tags:
        - users
      parameters:
        - name: limit
          in: query
          required: false
          description: Максимальное количество элементов на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          $ref: '#/components/responses/UserListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Создать нового пользователя
      operationId: usersPOST
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          $ref: '#/components/responses/UserCreationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /users/{id}:
    get:
      summary: Получить информацию о пользователе по ID
      operationId: usersIdGET
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: "Обновить все данные пользователя"
      operationId: usersIdPUT
      tags:
        - users
      parameters:
        - name: id
          in: path
          description: ID пользователя, данные которого нужно обновить
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      summary: "Обновить некоторые данные пользователя"
      operationId: usersIdPATCH
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: ID пользователя, данные которого нужно обновить
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUserUpdate'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Удалить пользователя
      operationId: usersIdDELETE
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '204':
          $ref: '#/components/responses/UserDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        id:
          type: integer
          format: int64
          description: Уникальный идентификатор пользователя
        username:
          type: string
          description: Название учётной записи пользователя
        email:
          type: string
          description: Email пользователя
        firstName:
          type: string
          description: Имя пользователя
        lastName:
          type: string
          description: Фамилия пользователя
        address:
          type: object
          description: Адрес пользователя
          properties:
            country:
              type: string
              description: Страна
            city:
              type: string
              description: Город
            street:
              type: string
              description: Улица
            house:
              type: string
              description: № дома
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          description: Возраст пользователя (кол-во полных лет)
        isEmployee:
          type: boolean
          default: true
          description: Указывает, является ли пользователь сотрудником компании
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    CreateUser:
      type: object
      required:
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        username:
          type: string
          description: Название учётной записи пользователя
        email:
          type: string
          description: Email пользователя
        firstName:
          type: string
          description: Имя пользователя
        lastName:
          type: string
          description: Фамилия пользователя
        address:
          type: object
          description: Адрес пользователя
          properties:
            country:
              type: string
              description: Страна
            city:
              type: string
              description: Город
            street:
              type: string
              description: Улица
            house:
              type: string
              description: № дома
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          description: Возраст пользователя (кол-во полных лет)
        isEmployee:
          type: boolean
          default: true
          description: Указывает, является ли пользователь сотрудником компании
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    PartialUserUpdate:
      type: object
      properties:
        username:
          type: string
          description: Название учётной записи пользователя
        email:
          type: string
          description: Email пользователя
        firstName:
          type: string
          description: Имя пользователя
        lastName:
          type: string
          description: Фамилия пользователя
        address:
          type: object
          description: Адрес пользователя
          properties:
            country:
              type: string
              description: Страна
            city:
              type: string
              description: Город
            street:
              type: string
              description: Улица
            house:
              type: string
              description: № дома
        age:
          type: integer
          description: Возраст пользователя (кол-во полных лет)
        isEmployee:
          type: boolean
          default: true
          description: Указывает, является ли пользователь сотрудником компании
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: "Код ошибки"
        message:
          type: string
          description: "Сообщение об ошибке"

  responses:
    UserListSuccess:
      description: Список пользователей успешно получен
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'

    Success:
      description: Данные успешно получены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserCreationSuccess:
      description: Пользователь успешно создан
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserUpdateSuccess:
      description: Данные пользователя успешно обновлены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserDeleteSuccess:
      description: Пользователь успешно удален

    UserNotFound:
      description: "Пользователь не найден"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "404"
                message: "Пользователь с таким id не найден"

    Unauthorized:
      description: "Доступ к ресурсу запрещён"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "401"
                message: "Доступ запрещён. Пройдите аутентификацию"

    Conflict:
      description: "Конфликт при создании записи"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "409"
                message: "Конфликт: пользователь с такими данными уже существует"

    MethodNotAllowed:
      description: "Метод запроса не поддерживается"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "405"
                message: "Метод запроса не поддерживается для этого ресурса"

    ServerError:
      description: "Внутренняя ошибка сервера"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "500"
                message: "Внутренняя ошибка сервера. Повторите запрос позже"

    UnprocessableEntity:
      description: "Некорректные данные"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example:
              value:
                code: "422"
                message: "Некорректные данные, проверьте вводимые параметры пользователя"

  securitySchemes:
    api_key:
      type: apiKey
      name: Token
      in: header

tags:
  - name: users
    description: Операции с пользователями